
body {
    background-image: url(img.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;



}


form {
    background-color: rgb(145, 219, 157);
    background-color: transparent;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(240, 122, 11, 0.1);
    width: 100%;
    max-width: 400px;
}


form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}


.contenido-del-formulario label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #e47b04;
}

.contenido-del-formulario input[type="text"],
.contenido-del-formulario input[type="number"],
.contenido-del-formulario input[type="email"],
.contenido-del-formulario input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.contenido-del-formulario input:focus {
    border-color: #4a90e2;
    outline: none;
}


.contenido-del-formulario input[type="radio"] {
    margin-right: 5px;
}


button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #4a90e2;
    color: rgb(253, 253, 253);
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #357abd;
}
